{% extends "layouts/base.html" %}

{% block title %} Estagio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">DashBoard</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">DashBoard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Estagio</h5>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <a href="{% url 'criar_estagio' %}" type="button" class="btn btn-success" style="margin-left: 85%;">+ Criar Estagio</a>
                                    </div>
                                    <form action="{% url 'consultar_estagio' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="nome">Consultar</label>
                                            <input type="text" class="form-control" name="buscar_area" placeholder="Area">
                                        </div>
                                        <div>
                                            <input type="text" class="form-control" name="buscar_edital" placeholder="Edital">
                                        </div>
                                        <div>
                                            <input type="text" class="form-control" name="buscar_curso" placeholder="Curso">
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-left: 45%;">Consultar</button>
                                    </form>

                                    {% if estagios %}
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Edital</th>
                                                        <th>Carga Horaria</th>
                                                        <th>Area</th>
                                                        <th>Curso</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for estagio in estagios%}
                                                    <tr>
                                                        <td>{{ estagio.id_edital_estagio }}</td>
                                                        <td>{{ estagio.carga_horaria_estagio }}</td>
                                                        <td>{{ estagio.area_estagio }}</td>
                                                        <td>{{ estagio.id_cursos_estagio }}</td>
                                                        <td><a href="{% url 'editar_estagio' estagio.id_estagio %}" type="button" class="btn btn-success" style="margin-top: 10px; margin-left: 45%;">Editar</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="card-body">
                                        <h2>Estagio Nao Encontrado!</h2>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
