{% extends "layouts/base.html" %}

{% block title %} Faculdade {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ Padrao do HEADER da pagina] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Faculdade</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_partiu_estagio' %}">DashBoard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'editar_faculdade' faculdade.id_faculdade %}">Editar Estagiário</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [  Padrao do HEADER da pagina ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Hello card</h5>
                                </div>
                                <div class="col-md-6">
                                    <form action="{% url 'atualizar_faculdade' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group" >
                                            <label>ID</label>
                                            <input type="int" class="form-control" name="id_faculdade" placeholder="ID" value="{{faculdade.id_faculdade}}">
                                            
                                            <label>Nome da Faculdade</label>
                                            <input type="text" class="form-control" name="nome_faculdade" placeholder="Nome da Faculdade" value="{{faculdade.nome_faculdade}}">

                                            <label>CNPJ</label>
                                            <input type="text" class="form-control" name="cnpj_faculdade" placeholder="cnpj da Faculdade" value="{{faculdade.cnpj_faculdade}}">
                                            
                                            <label>Nome do Direitor</label>
                                            <input type="text" class="form-control" name="nome_direitor_faculdade" placeholder="Nome do Direitor" value="{{faculdade.nome_direitor_faculdade}}">

                                            <label>Campus</label>
                                            <input type="text" class="form-control" name="campus_faculdade" placeholder="Campus" value="{{faculdade.campus_faculdade}}">

                                            <label>telefone</label>
                                            <input type="text" class="form-control" name="telefone_faculdade" placeholder="Telefone" value="{{faculdade.telefone_faculdade}}">
                                            
                                        </div>
                                        <div  class="form-group"></div>
                                        <button type="submit" class="btn btn-primary">Atualizar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


