{% extends "layouts/base.html" %}

{% block title %} Municipio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ Padrao do HEADER da pagina] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Municipio</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_municipio' %}">DashBoard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'criar_municipio' %}">Criar Municipio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [  Padrao do HEADER da pagina ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Hello card</h5>
                                </div>
                                <div class="col-md-6">
                                    <form action="{% url 'criar_municipio' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group" >
                                            <label>Nome do Municipio</label>
                                            <input type="text" class="form-control" name="nome_municipio" placeholder="Nome do Municipio">
                                            
                                            <label>Codigo do NTE</label>
                                            <input type="text" class="form-control" name="id_nte_municipio" placeholder="Codigo do NTE">
                                        </div>
                                        <div  class="form-group"></div>
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


