{% extends "layouts/base.html" %}

{% block title %} Partiu Estagio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ Padrao do HEADER da pagina] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Estagiários</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_partiu_estagio' %}">DashBoard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'criar_estagiario_partiu_estagio' %}">Criar Estagiários</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [  Padrao do HEADER da pagina ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cadastro</h5>
                                </div>
                                <div class="col-md-6">
                                    <form action="{% url 'criar_estagiario_partiu_estagio' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group" >
                                            <label>Nome do Estagiario</label>
                                            <input type="text" class="form-control" name="nome_estagiario" placeholder="nome_estagiario">
                                            
                                            <label>CPF</label>
                                            <input type="text" class="form-control mask-cpf" name="cpf" placeholder="CPF">
                                            
                                            <label>RG</label>
                                            <input type="text" class="form-control" name="rg" placeholder="rg">
                                            
                                            <label>Turno</label>
                                            <select class="form-control" name="turno">
                                                <option value="0">Selecione</option>
                                                <option value="Masculino">Matutino</option>
                                                <option value="Feminino">Vespertino</option>
                                            </select>
                                            
                                            <label>Email</label>
                                            <input type="text" class="form-control" name="email" placeholder="email">
                                            
                                            <label>Semestre</label>
                                            <select class="form-control" name="turno">
                                                <option value="0">Selecione</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            
                                            <label>Nis</label>
                                            <input type="text" class="form-control" name="nis" placeholder="nis">
                                            
                                            <label>telefone</label>
                                            <input type="text" class="form-control" name="telefone" placeholder="telefone">
                                            
                                            <label>responsavel</label>
                                            <input type="text" class="form-control" name="responsavel" placeholder="responsavel">
                                            
                                            <label>nascimento</label>
                                            <input type="text" class="form-control" name="nascimento" placeholder="nascimento">
                                            
                                            <label>genero</label>
                                            <select class="form-control" name="genero">
                                                <option value="0">Selecione</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Feminino">Feminino</option>
                                            </select>
                                           
                                            <label>raca</label>
                                            <select class="form-control" name="raca">
                                                <option value="0">Selecione</option>
                                                <option value="Branca">Branca</option>
                                                <option value="Parda">Parda</option>
                                                <option value="Preta">Preta</option>
                                                <option value="Amarela">Amarela</option>
                                                <option value="Indigena">Indigena</option>
                                            </select>
                                                                                        
                                            <label>bairro</label>
                                            <input type="text" class="form-control" name="bairro" placeholder="bairro">
                                            
                                            <label>numero</label>
                                            <input type="text" class="form-control" name="numero" placeholder="numero">
                                            
                                            <label>complemento</label>
                                            <input type="text" class="form-control" name="complemento" placeholder="complemento">
                                            
                                            <label>Matricula</label>
                                            <input type="text" class="form-control" name="Matricula" placeholder="Matricula">
                                            
                                            <label>Situaçao</label>
                                            <select class="form-control" name="situaçao">
                                                <option value="0">Selecione</option>
                                                <option value="Ativo">Ativo</option>
                                                <option value="Desligado">Desligado</option>
                                                <option value="Desclassificado">Desclassificado</option>
                                            </select>
                                            
                                            <label>Supervisor</label>
                                            <input type="text" class="form-control" name="supervisor" placeholder="supervisor">

                                            <label>Sede</label>
                                            <input type="text" class="form-control" name="sede" placeholder="Sede">

                                            <label>Faculdade</label>
                                            <input type="text" class="form-control" name="faculdade" placeholder="Faculdade">

                                            <label>Estagio</label>
                                            <input type="text" class="form-control" name="estagio" placeholder="Estagio">
                                        
                                        </div>
                                        <div  class="form-group"></div>
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/pages/mascara.js"></script>
{% endblock javascripts %}


