{% extends "layouts/base.html" %}

{% block title %} Partiu Estagio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">DashBoard - Partiu Estagio</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_partiu_estagio' %}">DashBoard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Estagiarios</h5>
                                </div>
                                
                                <div class="card-body">
                                    <div>
                                        <a href="{% url 'criar_estagiario_partiu_estagio' %}" type="button" class="btn btn-success" style="margin-left: 85%;">+ Criar Estagiario</a>
                                    </div>
                                    <form action="{% url 'consultar_estagiario_partiu_estagio' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="nome">Consultar</label>
                                            <input type="text" class="form-control" name="buscar_estagiario_partiu_estagio" placeholder="Nome do Estagiario">
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-left: 45%;">Consultar</button>
                                    </form>

                                    {% if estagiarios %}
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>CPF</th>
                                                        <th>Nome</th>
                                                        <th>Situaçao</th>
                                                        <th>Supervisor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for estagiario in estagiarios%}
                                                    <tr>
                                                        <td>{{ estagiario.cpf_estagiario }}</td>
                                                        <td>{{ estagiario.nome_estagiario }}</td>
                                                        <td>{{ estagiario.situacao_estagiario }}</td>
                                                        <td><a href="{% url 'editar_estagiario_partiu_estagio' estagiario.cpf_estagiario %}" type="button" class="btn btn-success" style="margin-top: 10px; margin-left: 45%;">Editar</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
