{% extends "layouts/base.html" %}

{% block title %} Programa {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">DashBoard - Programa</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_programa' %}">DashBoard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Programa</h5>
                                </div>
                                
                                <div class="card-body">
                                    <div>
                                        <a href="{% url 'criar_programa' %}" type="button" class="btn btn-success" style="margin-left: 85%;">+ Criar Programa</a>
                                    </div>
                                    
                                    <form action="{% url 'consultar_programa' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="codigo">Consultar</label>
                                            <input type="text" class="form-control" name="buscar_programa" placeholder="Nome do Programa">
                                        </div>
                                                                                    
                                        <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-left: 45%;">Consultar</button>
                                    </form>

                                    {% if programas %}
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nome do Programa</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for programa in programas %}
                                                    <tr>
                                                        <td>{{ programa.id_programa }}</td>
                                                        <td>{{ programa.nome_programa }}</td>
                                                        <td><a href="{% url 'editar_programa' programa.id_programa %}" type="button" class="btn btn-success" style="margin-top: 10px; margin-left: 45%;">Editar</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
